.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items {
  padding-right: 0px 20px;
}
.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li  {
  padding: 10px;
  margin: 10px;
}

.nav-items > ul > li:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.nav-items > ul > li > a {
  text-decoration: none;
  color: black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-card {
  margin: 5px;
  width: 200px;
  height: 500px;
  padding: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 12rem;
  height: 12rem;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-card {
  width: 200px;
  height: 500px;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(-90deg, #f0f0f0 0%, #d0d0d0 50%, #f0f0f0 100%);
  background-size: 200% 200%;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.login-btn {
  margin: 10px;
  width: 100px;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid black;
  cursor: pointer;
} 
